extends /jade/templates/regular-layout

block prepend head
  title Introducing WebGLRobots.js

block body
  p This page, "minimal.html", aims to demonstrate the bare minimum needed to add Hubo to a webpage.
  p Take a look at the page's source to see what JavaScript to include. You will also need to have the URDF model and COLLADA files on your server.
  p Hubo should load below within a minute, if you're running NodeJS locally.
    a#move_link(href='#', style='display: none;') Move LSP
  table(border='1')
    tr
      td
        #hubo_container  
        div(style='text-align: center;') LEFT button ROTATES. RIGHT button PANS. MIDDLE wheel ZOOMS.

block append scripts
  include /jade/includes/hubo
  script.
    // This code is meant to show the bare minimum needed to add a Hubo to a webpage.
    // Create a THREE.WebGLRenderer() to host the robot. You can create your own, or use the provided code to generate default setup.
    c = new WebGLRobots.DefaultCanvas('#hubo_container');
    // Create a new robot instance.
    hubo = new WebGLRobots.Robot();
    // Load the robot using the URDF importer.
    hubo.loadURDF("#{local_root}data/hubo-urdf/model.urdf", function callback() {
    // Once the URDF is completely loaded, this function is run.
    // Add your robot to the canvas.
    c.add(hubo);
    // That is all that is needed! But you're probably wondering how to move Hubo's joints so here's a quick example.
    // Note: I'm adding an click event listener using JQuery syntax.
    $('#move_link').click( function(event) {
      hubo.joints['LSP'].value = hubo.joints['LSP'].value - 0.1;
      }).show();
    });