// Used for rendering 3D Hubo 
script(src='js/lib/three/three.min.js')
script(src='js/lib/three/Detector.js')
script(src='js/lib/three/ColladaLoader2.js')
script(src='js/lib/three/TrackballControls.js')
// Our code 
script(src='js/dict.js')
script(src='js/WebGLRobots.js')