[submodule "src/files/data/hubo-trajectories"]
	path = src/files/data/hubo-trajectories
	url = http://github.com/wmhilton/hubo-trajectories
[submodule "src/files/data/hubo-urdf"]
	path = src/files/data/hubo-urdf
	url = http://github.com/wmhilton/hubo-urdf
