@import 'nib'
body
  overflow-x scroll !important
  font-size x-large

legend
  // Style legends to look like button labels
  font-size 18px
  font-weight 700
  font-family Helvetica,Arial,sans-serif 
  // Vertical Align the damn thing
  line-height 48px
  vertical-align center

// Give more space to the legend vs the ul.
// Note that making them add up to 100% causes wrapping which looks UGLY.
.ui-field-contain .ui-controlgroup-label
  width 35%
.ui-field-contain .ui-controlgroup-controls
  width 60%

// #content
//  display box
//  display -webkit-box
//  display -moz-box

#hubo_container
  position relative
  border 1px solid black

#controls  
  p 
    padding-right 1em

table
  tr
    th
      text-align left
      vertical-align middle

label.ui-slider
  margin-top 0
  margin-bottom 0      
// #hubo_container{
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

@media screen and (orientation:landscape)
  #hubo_container
    float left
    margin-right 1em
  // #content
  //   box-orient horizontal
  // .aspect-controller
  //   height 100%

//   #hubo_meta_container{
//     position: relative;
//     top: 0px;
//     bottom: 0px;   /* desired height */
//     max-width:100%;
//     max-height:100%;  
//   }
//   #hubo_meta_container:before{
//     content: "";
//     display: block;
//     padding-left: 100%;  /* initial ratio of 1:1*/
//   }
// //   #hubo_container
// //     height 100%
// //     width 100%

@media screen and (orientation:portrait)
  #content
    // box-orient vertical
  // .aspect-controller
  //   width 100%
  // #hubo_meta_container{
  //   position: relative;
  //   width: 100%;   /* desired width */
  // }
  // #hubo_meta_container:before{
  //   content: "";
  //   display: block;
  //   padding-top: 100%;  /* initial ratio of 1:1*/
  // }
  // #hubo_container
  //   width 100%
  //   height 100%
