!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      // Jquery makes life so much easier. Load it before everything else!
      script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  body
    block body
    block scripts
