// Used for rendering 3D Hubo 
script(src='/lib/three/three.min.js')
script(src='/lib/three/Detector.js')
script(src='/lib/three/ColladaLoader.js')
script(src='/lib/three/TrackballControls.js')
// Our code 
script(src='/lib/dict/dict.js')
script(src='/src/WebGLRobots.js')
script(src='/src/hubo.js')