@import 'nib'

body
  font-family: monospace

table
  width 100%
  tr:nth-child(odd)   { background-color:#fff; }
  tr:nth-child(even)    { background-color:#eee; }
  td
    width 20% //10em
    text-align left
  th
    text-align left