// This broke when updating Docpad.
// @import('{local_root}lib/jquery-ui/jquery-ui.custom.css')

body
  font-family Monospace
  margin 0px
  overflow hidden

#hubo_container
  canvas
    border 1px solid black

#controls
  margin-left 5px
  border 1px solid black

td
  vertical-align top

.joint
  padding 10px
  table
    border-collapse collapse
  & > div
    &:first-child
      margin-bottom 0.5em
      width 21em

.joint_slider
  width 15em
  float left

.joint_txt
  padding-left 1em
