extends /jade/templates/regular-layout

block prepend head
  title Trajectory Playback

block body
  p This page demonstrates loading trajectory files containing angles recorded at 200Hz and playing them back at speed.
  table(border='1')
    tr
      td
        #hubo_container(style="width: 480px; height: 485px; position: relative") 
          #panel_load(style="position:absolute")
            button#load Load Hubo
          #panel_loading(style="position:absolute; display:none")
            progress#loading_bar
          #panel_traj(style="position:absolute; display:none")
            select(id="traj_selection")
                option(value="") -- Select --
                option(value="home2walkready.traj") Home 2 Walk Ready
                option(value="walkready2home.traj") Walk Ready 2 Home
                option(value="Taichi.traj") Taichi
                option(value="Bow.traj") Bow
                option(value="welcome.traj") Welcome
                option(value="goodbye.traj") Goodbye
                option(value="Hand_wave.traj") Hand wave
                option(value="Left_hand_head.traj") Left hand head
                option(value="Right_hand_head.traj") Right hand head
                option(value="safeDance1.traj") Dance 1
                option(value="safeDance2.traj") Dance 2
                option(value="safeDance3.traj") Dance 3
                option(value="safeDance4.traj") Dance 4                
                option(value="sign_language.traj") Sign language
                option(value="speech1.traj") Speech 1
                option(value="speech2.traj") Speech 2
            br
            button(id="toggle_play",disabled="disabled") Play
        div(style='text-align: center;') LEFT button ROTATES. RIGHT button PANS. MIDDLE wheel ZOOMS.

block append scripts
  include /jade/includes/hubo
  script(src='#{local_root}lib/watch/watch.min.js')
  script(src='#{local_root}lib/stats/stats.min.js')
  script(src='#{local_root}src/hubo.js')
  script(src='trajectory_playback.js')
  script(src='trajectory_playback_gui.js')