extends /jade/templates/regular-layout

block prepend head
  title Trajectory Playback | Hubo-js
block append head
  link(rel='stylesheet', type='text/css', href='/lib/jquery-ui/jquery-ui.custom.css')

block body
  #paste_traj_dialog(title='Paste file', style="display:none")
    p Paste the trajectory file here.
    textarea#traj_input(rows='4', style="width:100%; -moz-box-sizing:border-box; box-sizing:border-box")
  #mouse_info_dialog(title='Mouse Navigation', style="display:none")
    p Rotate = LEFT mouse button
    p Zoom = MIDDLE mouse wheel
    p Pan = RIGHT mouse button
  p This page demonstrates loading trajectory files containing angles recorded at 200Hz and playing them back at speed.
  table(border='1')
    tr 
      td
        #hubo_container(style="width: 480px; height: 480px; position: relative") 
          #panel_load(style="position:absolute")
            button#load Load Hubo
          #panel_loading(style="position:absolute; display:none")
            progress#loading_bar
          #panel_traj(style="position:absolute; display:none")
            select(id="traj_selection")
                option(value="") -- Select --
                option(value="clipboard") Paste from Clipboard
                option(value="testure.traj") Maestro Testure
                option(value="home2walkready.traj") Home 2 Walk Ready
                option(value="walkready2home.traj") Walk Ready 2 Home
                option(value="taichi.traj") Taichi
                option(value="bow.traj") Bow
                option(value="welcome.traj") Welcome
                option(value="goodbye.traj") Goodbye
                option(value="hand_wave.traj") Hand wave
                option(value="left_hand_head.traj") Left hand head
                option(value="right_hand_head.traj") Right hand head
                option(value="dance1.traj") Dance 1
                option(value="dance2.traj") Dance 2
                option(value="dance3.traj") Dance 3
                option(value="dance4.traj") Dance 4
                option(value="sign_language.traj") Sign language
                option(value="speech1.traj") Speech 1
                option(value="speech2.traj") Speech 2
                option(value="bowChickaWowWow.traj") Bow Chicka Wow Wow
            br
            button(id="toggle_play",disabled="disabled") Play
          #mouse_info_button(style="position: absolute; top: 464px; left:0px")
            img(src="/img/info.png")
  p <i>NEW!</i> Drag and drop a trajectory file to load it.
  p <i>Almost as new!</i> Select "Paste from Clipboard" in the Dropdown menu.

block append scripts
  include /jade/includes/hubo
  script(src='/lib/watch/watch.min.js')
  script(src='/lib/stats/stats.min.js')
  script(src='/lib/jquery-ui/jquery-ui.custom.min.js')
  script(src='trajectory_playback.js')
  script(src='trajectory_playback_gui.js')